* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;
    font-family: "Roboto", sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.nav-bar {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin: 0.5rem 5rem;
    color: #8C9197;
}


.nav-bar>ul {
    display: flex;
    justify-content: space-between;
}

.nav-bar ul {
    list-style: none;
}

.nav-bar li {
    margin: 0.3rem 0.4rem;
}

.nav-bar a {
    text-decoration: none;
    color: #8C9197;
    font-size: 1.08rem;
}

.nav-bar i {
    padding: 0 0.2rem;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 120%;
    z-index: 10;

}

.dropdown:hover .dropdown-content {
    display: block;
    background-color: #f6f6f6;
    padding: 0.5rem 1rem;
    border: 1px solid #d1d1d1;
    border-radius: 0.3rem;
}

.arrow {
    font-family: "Segoe UI Emoji", "Noto Color Emoji", "Apple Color Emoji", sans-serif;

}

.nav-mid {
    margin-right: 7rem;
}

.utility-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0%;
    background-color: #f6f6f6;
    height: 14%;
    width: 100%;
}

.utility-bar>span {
    font-size: 3.5rem;
    font-weight: 900;
    display: inline-block;
    transform: scaleY(0.9);
    text-align: center;
}

.icon-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;

}

.input-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.utility-bar button {
    background-color: #1C60D6;
    color: #fff;
    border-radius: 5px;
    height: 3.5rem;
    width: 4.2rem;
    font-size: 1.7rem;
}

.input-section button:first-child {
    font-size: 1.3rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-section button:last-child {
    width: 3.5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-section input {
    height: 3.5rem;
    border: 1px solid rgb(178, 178, 178);
    padding: 0 1rem;
    width: 40rem;
    font-size: 1.2rem;
}

.icon-title .icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #8C9197;
}

.icon-title span {
    display: block;
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 0.6rem;
}

.cart-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 11%;
    gap: 10%;
}

.cart-div span {
    font-size: 1.1rem;
    font-weight: 200;
}

.cart-div button {
    height: 3.4rem;
    width: 3.4rem;
}

.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1C60D6;
    color: #fff;
    width: 100%;
    height: 3.8rem;
    /* gap: 2%; */
    font-size: 1.2rem;
    font-weight: 500;
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 2%; */
    width: 60%;
    height: 100%;
}

.main-nav li {
    padding: 1.2rem 1.2rem;
    height: 100%;
    position: relative;
}

.superscript {
    position: absolute;
    top: -15%;
    right: 3%;
    color: #fff;
    background-color: #EA6634;
    font-size: 0.9rem;
    padding: 0.1rem 0.4rem;
    font-weight: 300;
}

.superscript.yellow {
    color: #000;
    background-color: #FDD43E;
}

.main-nav ul:first-of-type li:first-child {
    background-color: #FDD43E;
    color: #000;
    padding-right: 6rem;
}

.main-nav span {
    margin-left: 0.4rem;
}

.main-nav ul:nth-child(2) li:last-child {
    background-color: #FDD43E;
    color: #000;
}

.main-nav ul:nth-of-type(2) {
    justify-content: flex-start;
}

.main-nav .spacer {
    width: 56%;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 1.5rem 5.8rem;
    gap: 2rem;
    height: 65vh;
}

.banner>div:nth-of-type(1) {
    padding: 11rem 0 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* gap: 10%; */
    flex: 1;
    height: 65vh;
    background-image: url("https://images.unsplash.com/photo-1605787020600-b9ebd5df1d07?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1301");
    background-size: cover;
    background-position: center;
    border-radius: 15px;
}

.banner>div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65vh;
    width: 25%;
}

.banner>div:nth-of-type(2) div {
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    height: 31vh;
}

.banner>div:nth-of-type(2) div:first-child {
    background-image: url("https://images.unsplash.com/photo-1579586337278-3befd40fd17a?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1172");
}

.banner>div:nth-of-type(2) div:last-child {
    background-image: url("https://images.unsplash.com/photo-1594636797501-ef436e157819?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170");
}

.banner>div:nth-of-type(1)>div:nth-of-type(1) {
    color: #fff;
    background-color: #1C60D6;
    padding: 0.5rem 0rem 0.5rem 0.8rem;
    width: 7%;
    border-radius: 12%;
    font-weight: 700;
}

.banner>div:nth-of-type(1)>div:nth-of-type(2) {
    color: #000;
    background-color: #ffffffe1;
    padding: 0.5rem 0rem 0.5rem 0.8rem;
    width: 45%;
    border-radius: 5%;
    font-size: 3.5rem;
    font-weight: 700;
    transform: scaleY(0.85);
}

.banner>div:nth-of-type(1)>div:nth-of-type(3) {
    color: #000;
    background-color: #ffffffe1;
    padding: 1rem 0rem 1rem 1rem;
    width: 13%;
    border-radius: 5%;
    font-size: 1rem;
    font-weight: 300;
    border: 1px solid #8C9197;
}

.banner>div:nth-of-type(1)>div:nth-of-type(3) i {
    margin-left: 0.5rem;
}

.banner>div:nth-of-type(1)>div:nth-of-type(4) {
    display: flex;
    justify-content: space-around;
    width: 9%;
    height: 1.5rem;
}

.banner>div:nth-of-type(1)>div:nth-of-type(4) div {
    background-color: #8C9197;
    width: 18%;
    height: 0.4rem;
    border-radius: 2rem;

}

.banner>div:nth-of-type(1)>div:nth-of-type(4) div:first-child {
    background-color: transparent;
}

.banner>div:nth-of-type(1)>div:nth-of-type(4) div:last-child {
    background-color: #EA6634;
}

.banner>div:nth-of-type(2) div {
    display: flex;
    flex-direction: column;
    padding: 4rem 1.5rem;
    gap: 10%
}

.banner>div:nth-of-type(2) span:first-child {
    color: #1C60D6;
    font-size: 1.3rem;
    font-weight: 300;
    background-color: #ffffffe1;
    width: 38%;
    margin-bottom: 0.3rem;
    border-radius: 10%;
    padding: 0.5rem 0.8rem;
}

.banner>div:nth-of-type(2) span:last-child {
    font-size: 1.5rem;
    background-color: #ffffffe1;
    width: 42%;
    border-radius: 10%;
    padding: 0.5rem 0.8rem;
    letter-spacing: 0.05rem;
}

.perks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    background-color: #3A4855;
    color: #fff;
    font-size: 2rem;
    padding: 0 4rem;
}

.perks div {
    display: flex;
    justify-content: center;
    align-items: start;

}

.perks div div {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin: 1.2rem 2rem;
}

.perks span:first-child {
    font-size: 1.45rem;
    font-weight: 500;
    padding-bottom: 0.2rem;
    transform: scaleY(0.8);
}

.perks span:last-child {
    color: #8C9197;
    font-size: 1rem;
}

.perks i {
    border: 3px solid #1C60D6;
    padding: 1.3rem;
    border-radius: 100%;
    color: #EA6634;
}

.whyUs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    height: 90vh;
}

.whyUs>span:first-child {
    font-size: 2.8rem;
    font-weight: 600;
    transform: scaleY(0.85);
    margin-top: 0.8rem;

}

.whyUs>span:first-child::after {
    content: "";
    position: absolute;
    bottom: -1.6rem;
    left: 9rem;
    width: 18%;
    border-bottom: 3px solid #EA6634;
}

.whyUs>span:last-of-type {
    font-size: 1.3rem;
    font-weight: 350;
    text-align: center;
    color: #8A9297;
    width: 66%;
}

.whyUs a {
    color: #1C60D6;
}

.whyUs ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.whyUs li {
    text-align: center;
    width: auto;
    color: #696972;
    background-color: #EEEEEE;
    padding: 1.4rem;
    border-left: 1px solid #d1d1d1;
    font-size: 1.2rem;
    font-weight: 590;
    transform: scaleY(0.8);
}

.whyUs li:first-of-type {
    border: none;
    color: #fff;
    background-color: #1C60D6;
    position: relative;
}

.diamond {
    position: absolute;
    height: 2.4vh;
    width: 1.2vw;
    top: 3.4rem;
    left: 6rem;
    background-color: #1C60D6;
    transform: rotate(45deg);
}

.diamond.two {
    left: 3.6rem;
}

.photos-whyUs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-bottom: -2rem;
}

.photos-whyUs div {
    width: 17%;
    height: 43vh;
    margin: 0 1rem;
    border: 1px solid #d1d1d1;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.photos-whyUs div:first-of-type {
    background-image: url("https://images.unsplash.com/photo-1698302933674-c47c42c59de2?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=880");
    background-size: cover;
    background-position: center;
}

.photos-whyUs div:nth-of-type(2) {
    background-image: url("https://images.unsplash.com/photo-1667687038826-3d00484bce96?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=687");
    background-size: cover;
    background-position: center;
}

.photos-whyUs div:nth-of-type(3) {
    background-image: url("https://plus.unsplash.com/premium_photo-1683120949880-5e7a36864f39?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170");
    background-size: cover;
    background-position: center;
}

.photos-whyUs div:nth-of-type(4) {
    background-image: url("https://images.unsplash.com/photo-1553808373-92b0bcc3af65?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=687");
    background-size: cover;
    background-position: center;
}

.photos-whyUs div:last-of-type {
    background-image: url("https://images.unsplash.com/photo-1750045662231-130825e22fff?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=687");
    background-size: cover;
    background-position: center;
}

.photos-whyUs span {
    font-size: 1.2rem;
    background-color: #EEF2F5;
    padding: 0.6rem;
    border-radius: 0.4rem;
    height: 2.5rem;
    margin-bottom: 1rem;
}

.dots {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    margin-bottom: 1rem;

}

.dots div {
    height: 0.7rem;
    width: 0.7rem;
    background-color: #EA6634;
    border-radius: 1rem;
}

.dots div:last-child {
    background-color: #d1d1d1;
}

.whyUs.featurePdt {
    height: 135vh;
    background-color: #F8F8F8;
}

.photos-featurePdt {
    display: flex;
    width: 100%;
    gap: 1.5rem;
    justify-content: center;
    margin: 0 1rem;
    height: 72vh;
}

.photos-featurePdt>div {
    height: 75vh;
    width: 21%;
    border: 0.15rem solid #E2E2E2;
    border-radius: 0.6rem;
    overflow: hidden;
}

.photos-featurePdt .loaded-div {
    position: relative;
    height: 58%;
    background-image: url("https://plus.unsplash.com/premium_photo-1679865289918-b21aae5a9559?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=687");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.photos-featurePdt .loaded-div .label.tag1 {
    position: absolute;
    width: 50%;
    color: #fff;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
    background-color: #1C60D6;
    transform: rotate(-45deg);
    left: -3rem;
    top: 2.5rem;
    height: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photos-featurePdt .loaded-div .label.tag2 {
    position: absolute;
    top: 0.3rem;
    left: 20.8rem;
    width: 15%;
    font-size: 0.9rem;
    font-weight: 600;
    color: #fff;
    background-color: #DD3730;
    padding: 0.4rem;
    border-radius: 12%;
    text-align: center;
}

.photos-featurePdt .loaded-div .label.tag3 {
    position: absolute;
    top: 2.5rem;
    left: 20.8rem;
    width: 15%;
    font-size: 0.9rem;
    font-weight: 600;
    color: #000;
    background-color: #FDD43E;
    padding: 0.4rem;
    border-radius: 12%;
    text-align: center;
}

.photos-featurePdt>div>div:nth-of-type(2) {
    background-color: #EEF2F5;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 1rem 1.2rem;
    color: #8C9196;
    font-size: 1.1rem;
    font-weight: 400;
}

.photos-featurePdt>div>div:nth-of-type(2) span:first-child {
    border-bottom: 0.1rem solid #8C9196;
}

.photos-featurePdt .loaded-div2 {
    padding: 1rem 0.8rem;
    background-color: #fff;
    height: 25%;
}

.photos-featurePdt .loaded-div2 div:first-child {
    font-size: 1.4rem;
    font-weight: 450;
    margin: 0.5rem 0;
}

.photos-featurePdt .loaded-div2 span {
    font-size: 1.2rem;
    font-weight: 400;
    margin-right: 1rem;
    color: #696974;
}

.photos-featurePdt .loaded-div2 span:last-of-type {
    text-decoration: line-through;
    color: #90969E;
}

.photos-featurePdt .loaded-div2 div:last-of-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0.2rem 0 0;
}

.photos-featurePdt .loaded-div2 div:last-of-type input {
    border: 0.1rem solid #E2E2E2;
    border-radius: 14%;
    padding: 0.5rem 0.3rem;
    text-align: center;
    /* margin-right: -4rem; */
    height: 4vh;
}

.photos-featurePdt .loaded-div2>div:last-child div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 7%;
    height: 0.1vh;
    margin-top: 0;
    margin-left: -4.7rem;
}

.photos-featurePdt .loaded-div2 div:last-of-type div button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #72727B;
    background-color: #EEEEEE;
    width: 100%;
    /* height: 1vh; */
    border: 0.1rem solid #E2E2E2;
    font-size: 1rem;
    cursor: pointer;
    border-top-right-radius: 14%;
    border-bottom-left-radius: 14%;
}

.photos-featurePdt .loaded-div2 div:last-of-type .add-to-cart {
    background-color: #133D8E;
    color: #fff;
    padding: 0.55rem 1rem;
    border-radius: 6%;
    margin-left: -3.5rem;
}



.photos-featurePdt .loaded-div2 div:last-of-type>i {
    font-size: 1.5rem;
    color: #8c9197d5;
}

.photos-featurePdt .loaded-div2 div:last-of-type>i:last-of-type {
    margin-left: -3rem;
}

.photos-featurePdt .last-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    padding: 0 1rem;
}

.photos-featurePdt .last-div i {
    color: #41b949;
    padding-right: 0.5rem;
}

.photos-featurePdt .last-div span:last-of-type i {
    color: #E03831;
}

.photos-featurePdt>div:nth-of-type(2)>.loaded-div {
    background-image: url("https://images.unsplash.com/photo-1630170580056-dd2e56961de2?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=687");
}

.photos-featurePdt>div:nth-of-type(3)>.loaded-div {
    background-image: url("https://images.unsplash.com/photo-1593361351718-6b853f7b3431?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=687");
}

.photos-featurePdt>div:nth-of-type(4)>.loaded-div {
    background-image: url("https://images.unsplash.com/photo-1588420490858-3828a17244a5?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1074");
}

.photos-featurePdt>div:nth-of-type(2) .loaded-div .label.tag1 {
    background-color: #DD3730;
}

.photos-featurePdt>div:nth-of-type(2) .loaded-div .label.tag2 {
    width: 24%;
    left: 18.6rem;
    border-radius: 7%;
    background-color: #ea6634;
}

.photos-featurePdt>div:nth-of-type(3) .loaded-div .label.tag1 {
    background-color: #DD3730;
}

.photos-featurePdt>div:nth-of-type(3) .loaded-div .label.tag1.up {

    background-color: #50AD56;
    top: 1rem;
    left: -4.5rem;
}

.photos-featurePdt>div:nth-of-type(4) .loaded-div .label.tag1 {
    background-color: #DD3730;
}

.photos-featurePdt>div:nth-of-type(4) .loaded-div .label.tag2 {
    color: #000;
    background-color: #FDD43E;
}

.whyUs.featurePdt>div:last-child {
    color: #fff;
    background-color: #1C60D6;
    padding: 1rem 2rem;
    border-radius: 0.6rem;

}